.table {
  border:4px solid #fff;
  background-color: #007700;
  color:#fff;
  display:inline-block;
  font-size:0;
  &__side {
    height:300px;
    width:300px;
    display:inline-block;
    &.table__side--north {
      border-right:6px solid #ccc;
    }
    &.table__side--game-point {
      background-color:#00AA00;
    }
  }
  input {
    color:#fff;
    text-align: center;
    width:100%;
    margin:100px 0;
    font-size:60px;
    background-color: transparent;
    border:0;
    outline:none;
  }
}
